.cardContainer {

  --ifm-link-hover-decoration: none;

  background-color: rgba(30, 64, 175, 0.05); /* Suave azul del modo claro */
  border-radius: 1rem;
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.cardContainer:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-color: var(--ifm-color-primary);
  background-color: rgba(30, 64, 175, 0.1); /* un poco más azul al pasar el mouse */
}

[data-theme='dark'] .cardContainer {
  background-color: rgba(96, 165, 250, 0.05); /* Suave azul del modo oscuro */
}

[data-theme='dark'] .cardContainer:hover {
  background-color: rgba(96, 165, 250, 0.1); /* Más visible en hover */
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--ifm-heading-color);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardDescription {
  font-size: 0.9rem;
  color: var(--ifm-color-content-secondary);
  line-height: 1.4;
}

/* Icono animado en hover */
.cardTitle svg {
  transition: transform 0.2s ease;
}

.cardContainer:hover .cardTitle svg {
  transform: scale(1.1);
}
